@charset "UTF-8";
@import url('https://webfontworld.github.io/daegu/DalseoHealing.css');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
 	font-family: "DalseoHealing", sans-serif;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    background-image: url(../image/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size : 20px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881,#c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition : 0.5s;
}


.btn:hover{
    border-top-right-radius : 30px;
}

.login-container {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.login{
	width:400px;
	background: #ffffff3f;
	border-radius: 8px;
	padding: 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.login .logo{
	width:100%;
	text-align: center;
	margin-bottom: 16px;
	display:flex;
	justify-content: center;
	flex-direction: column;
}

.login .logo i{
	font-size:40px;
}

.login .logo p{
	font-size:32px;
	font-weight: 800;
}


.input_box span{
	font-size: 20px;
	font-weight: 500;
}

.input_box .icon{
	margin-bottom:15px;
	position: relative;
}

.input_box .icon i{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translate(-50%, -50%);
	border-right: 2px solid #ccc;
	padding: 10px;
	font-size: 18px;
}
.input_box .icon input{
	padding: 10px;
	padding-left: 50px;
	width: 100%;
	border-radius: 8px;
	outline: none;
	border: 2px solid #ccc;
	font-size: 18px;
	box-shadow: 1px 1px 2px #00ffe0;
}

.login .forgot_password a{
	text-decoration: none;
	font-size : 18px;
	font-weight: 500;
	color: #000dff;
}

.login .forgot_password a:hover{
	text-decoration: underline;
}

.login button{
	width: 100%;
	padding: 8px;
	border-radius: 8px;
	outline: none;
	border: none;
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0;
	cursor: pointer;
	background: linear-gradient(to right, #ff00b8, #00ffe0);
	color: #fff;
}

.login button:hover{
	background: linear-gradient(to left, #ff00b8, #00ffe0)
}

.login .signup{
	text-align: center;
	margin: 12px 0;
	font-size: 18px;
	font-weight: 500;
}

.login .social_icon{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.login .social_icon a{
	border-radius: 50%;
	padding: 8px 10px;
	transition: all 0.4s ease;
}

.login .social_icon a:hover{
	transform: scale(1.2);
}

.login .social_icon a i{
	font-size: 24px;
	color: #fff;
}

.social_icon #facebook{
	background-color: #0047ff;
}

.social_icon #twitter{
	background-color: #0094ff;
}


.social_icon #google{
	background-color: #ff0000;
}


.social_icon #github{
	background-color: #000;
}

.login .alreadyAccount p{
	font-size: 14px;
	margin-top: 15px;
	text-align: center;
}

.login .alreadyAccount p a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: #000dff;
}

.login .alreadyAccount p a:hover{
	text-decoration: underline;
}

@media screen and (max-width:425px){
	.login{
		width:93%;
	}
}
.wrapper{
	margin : 30px;
}
.title{
	font-size: 30px;	
}
.board-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction : column;

}

table{
	margin-top:30px;	
	width:100%;
}
.relative overflow-x-auto shadow-md sm:rounded-lg {
	width:800px;
}

table{
	text-align:center;
}
th{
	text-align:center;	
}

td{
	text-align:center;
}

.btn_del{
	display: flex;
	align-items: center;
	justify-content: center;
}

.write_btn{
		display: flex;
	align-items: center;
	justify-content: center;
}